@import "../../Styles/helpers";


.book_audio{
    main {
        min-height : 70vh;
        display : flex;
        justify-content: center;
        align-items: center;
        div.audio-container{
            background-color : #333;
            display : flex;
            flex-direction: column;
            audio{
                background-color : #ddd;
            }
        }
        
    }
}