@import "../../../Styles/helpers";


.books_section{
    display : flex;
    flex-direction : column;
    .books_header{
        &_text{
            font-weight : 500;
            margin : {
                top : 2rem;
                bottom : 1.2rem;
                left : 2rem;
            }
            font-size : 2rem;
        }    
    }
    

    div.books_container{
        display : flex;
        align-items : center;
        width: 85vw;
        height : 600px;
        padding: 0 1em;
        margin : 0 auto;
        overflow-x: scroll;
        overflow-y : hidden;
    }

}