@import "../../../Styles/helpers";

.books {
  .container {
    width: 200%;
    max-width: 1500px;
    padding: 0 1em;
    // margin: 0 auto;
  }

  &__category-title {
    margin-top: 2rem;
    font-weight: 400;
  }

  .row {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px 0;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
