@import "../../Styles/helpers";

%flex {
    display: flex;
    align-items: center;
}

.nav {
    background-color: $black;
    padding: 0.6rem 0;
    font-family: $font-one;
    z-index: 99 !important;
    position: relative;

    &-container {
        @include container;
        @extend %flex;
        justify-content: space-between;
    }

    &__logo {
        @include center;
        img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }
    }

    &__searchBox {
        @extend %flex;
        flex: 1;
        margin: 0 2rem;
        background: #3e3e3e;
        border-radius: $br-v;
        color: #a1a1a1;
        padding: 0.2rem 1rem;
        position: relative;

        @include breakpoint-down(medium) {
            position: absolute;
            top: 100%;
            right: -2rem;
            width: 100%;
            padding: 0.6rem 1rem;
            border-radius: 0;
        }

        &-icon {
            font-size: 1.2rem;
            color: #a1a1a1;
            cursor:pointer;
            &:hover
            {
                color: rgb(235, 235, 235);
            }
        }

        &-input {
            all: unset;
            padding: 0.4rem;
            margin-left: 1rem;
            width: 100%;
        }
        &-keysDropdown {
            width: 180px;
            border-right: 2px solid #a1a1a1;
            position: relative;
            cursor: pointer;
            .default_option{
                text-transform: uppercase;
                font-size: 14px;
            }
            ul
            {
                position: absolute;
                top: 40px;
                left:-15px;
                background: #3e3e3e;
                width: 155px;
                border-radius: 5px;
                padding:5px 0px;
                display: block;
                box-shadow: 8px 8px 6px -10px #b3c6ff;
                list-style-type: none;
                li
                {
                    padding-left: 10px;
                    padding-bottom: 5px;
                    padding-top: 5px;
                    width: 100%;
                    border-bottom: 2px solid black;
                    &:last-child
                    {
                        padding-bottom: 0px;
                        border-bottom: none;
                    }
                    &:hover
                    {
                        color: #6f768d;
                    }
                    &.active
                    {
                        color:#6f768d;
                    }

                }
            }
            &::before{
                content: "";
                position: absolute;
                top: 7px;
                right: 20px;
                border: 8px solid;
                border-color:  #6f768d transparent transparent transparent;
                
            }
            &:hover
            {
                &::before{
                        border-color:  #091b58 transparent transparent transparent;
                        
                    }
            }
        }
        &-booksDropdown
        {
            position: absolute;
            top: 50px;
            left:155px;
            background:#3e3e3e;
            width: 36.5vw;
            min-height: 100px;
            border-radius: 5px;
            padding:15px 20px 0px 20px;
            display: block;
            box-shadow: 8px 8px 6px -10px #b3c6ff;
            .skeleton
            {
                margin-bottom: 15px;
            }
        }
    }


    &__toggle {
        &-btn {
            font-size: 1.4rem;
            color: #fff;
            opacity: 0.5;
        }
    }

    &__links {
        @extend %flex;
        @include reset-list;
        @include horizontal-list;

        li {
            &:not(:first-child) {
                margin-left: 2rem;

                @include breakpoint-down(medium) {
                    margin-left: 0;
                    margin-top: 0.5rem;
                }
            }

            a {
                display: block;
                @include reset-link;
                font-size: 1rem;
                font-weight: 600;
                font-weight: 400 !important;
            }
        }

        @include breakpoint-down(medium) {
            position: absolute;
            top: calc(100% + 50.97px);
            background: #333;
            width: 100%;
            right: 0;
            flex-direction: column;
            padding: 1rem;
        }
    }
}