.sidebar {
  flex: 1;
  height: calc(100vh - 100px);
  position: sticky;
  background-color: rgb(245, 245, 255);
  top: 50px;
}
.sidebarWrapper {
  padding: 20px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 10px;
}
.sidebarTitle {
  font-size: 16px;
  color: rgb(187, 187, 187);
}
.sidebarList {
  list-style: none;
  padding: 5px;
}
.sidebarListItem {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
}
.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(230, 230, 255);
  color: black;
}
.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}
