.sidebar {
  flex: 1;
  height: calc(100vh - 100px);
  position: sticky;
  background-color: rgb(63, 63, 63);
  top: 50px;
}
.sidebarWrapper {
  color: rgb(255, 255, 255);
}
.sidebarWrapper div:hover{
background-color: rgb(82, 82, 82);
}
.dashlink{
  font-size: large;
  color:#FFF;
}
.dashlink:hover,.dashlink:focus{
  color:rgb(238, 195, 138);
  background-color: rgb(255, 255, 255);
}

.active-dashlink div{
  color:rgb(0, 0, 0);
  background-color: rgb(138, 138, 138);
}
.sidebarMenu {
  padding: 15px 20px;
  width: 100%;
}
.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}
